@import "tailwindcss";

@theme {
  --color-primary: var(--color-orange-600);
}

[data-theme="dark"] {
  --color-primary: var(--color-yellow-400);
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }

  input.fancy-checkbox-input {
    &:hover:not(:checked) {
      border-color: blue;
    }

    &:hover {
      box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
  }
}