@import "tailwindcss";

@theme {
  --color-bg-dark: hsl(0 0% 90%);
  --color-bg: hsl(0 0% 95%);
  --color-bg-light: hsl(0 0% 100%);

  --color-primary: var(--color-orange-600);

  --color-text-primary: hsl(0 0% 5%);
  --color-text-muted: hsl(0 0% 30%);
}

[data-theme="dark"] {
  input#reminder{
    color-scheme: dark;
  }
  --color-bg-dark: hsl(0 0% 0%);
  --color-bg: hsl(0 0% 5%);
  --color-bg-light: hsl(0 0% 10%);

  --color-primary: #5adbb5;

  --color-text-primary: hsl(0 0% 95%);
  --color-text-muted: hsl(0 0% 70%);
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }

  input.fancy-checkbox-input {
    &:hover:not(:checked) {
      border-color: blue;
    }

    &:hover {
      box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
  }
}